<% if  SpreeGift::FlipperIntegration.gift_card_enabled? %>
<style>
  .container {
    overflow: auto;
  }
</style>

<% content_for :page_title do %>
  <%= Spree.t(:gift_cards) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_gift_card), gift_card_new_admin_gift_cards_path, icon: 'plus', class: 'btn btn-success' %>
<% end %>

<% content_for :table_filter_title do %>
  <h2>Testing</h2>
<% end %>
<div class="table-responsive border rounded bg-white">
<table class="index table table-hover"> 
  <thead>
    <tr>
      <th scope="col" class="text-center"><%= Spree.t(:code) %></th>
      <th scope="col" class="text-center"><%= Spree.t(:original_value) %></th>
      <th scope="col" class="text-center"><%= Spree.t(:current_value) %></th>
      <th scope="col" class="text-center"><%= Spree.t(:name) %></th>
      <th scope="col"class="text-center"><%= Spree.t(:email) %></th>
      <th scope="col"class="text-center"><%= Spree.t(:sender_name) %></th>
      <th scope="col"class="text-center"><%= Spree.t(:sender_email) %></th>
      <th scope="col"class="text-center"><%= Spree.t(:message) %></th>
      <th scope="col" class="actions" width="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |card| %>
      <tr id="<%= spree_dom_id card %>">
        <td width="20" class="text-center"><%= card.code %></td>
        <td width="10" class="text-center"><%= number_to_currency card.original_value %></td>
        <td width="10" class="text-center"><%= number_to_currency card.current_value %></td>
        <td width="10" class="text-center"><%= card.name %></td>
        <td width="10" class="text-center"><%= card.email %></td>
        <td width="10" class="text-center"><%= card.sender_name %></td>
        <td width="10" class="text-center"><%= card.sender_email %></td>
        <td width="15" class="text-center"><%= card.message %></td>
        <td class="actions" width="5">
          <%= link_to_edit card, no_text: true if can?(:edit, card) %>
          &nbsp;
          <%= link_to_delete card, no_text: true if can?(:delete, card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= render 'spree/admin/shared/index_table_options', collection: @gift_cards, simple: true %>

<%#= paginate @gift_cards %>
<% end %>
